{{ define "head-import" }}
{{ $style := resources.Get "scss/index.scss" | toCSS | minify | fingerprint }}
<link rel="stylesheet" href="{{ $style.Permalink }}">
{{ end }}
{{ define "main" }}
<section class="home" style="background-image:url(https://kde.org/announcements/plasma/5/5.21.0/mk.webp);background-size:cover;color:#fff">
  <div class="container align-items-center">
    <div>
      <h2 class="h1 mt-0">{{ i18n "plasma-in-your-pocket" }}</h2>
      <h3>{{ i18n "privacy" }}</h3>
    </div>
    <img src="/img/plasmaphone.svg"  class="img-fluid" style="width: 500px">
  </div>
</section>

<section>
  <div class="container">
    <h2 class="text-center">{{ i18n "Applications" }}</h2>
    <div class="applications row align-items-stretch">
      {{ range $.Site.Data.applications }}
        {{ $app := getJSON .url }}
        {{ $id := index $app "X-KDE-ID" }}
        {{ $idParts := split $id "." }}
        {{ $idLen := len $idParts }}

        {{ if ge $idLen 3 }}
        {{ $secondPart := index $idParts 2 }}
        {{ $namePart := cond (gt $idLen 3) (print $secondPart "." (index $idParts 3)) $secondPart }}
        {{ $localizedName := index $app.Name $.Site.Language.Lang | default $app.Name.C }}
        {{ $genericName := index $app "X-KDE-GenericName" }}
        <div class="app text-center col-4 col-lg-3 p-2">
          <div class="p-3 h-100">
            <div aria-hidden="true">
              <a href="https://apps.kde.org{{ $namePart | relLangURL }}">
                <img src="https://apps.kde.org/app-icons/{{ $id }}.svg" loading="lazy" alt="{{ $localizedName }}" width="48" height="48">
              </a>
            </div>
            <a href="https://apps.kde.org{{ $namePart | relLangURL }}">
              {{ $localizedName }}
            </a>
            <p class="d-none d-md-block">
              {{ index $genericName $.Site.Language.Lang | default (index $genericName "C") }}
            </p>
          </div>
        </div>
        {{ end }}
      {{ end }}
    </div>
  </div>
</section>


<section class="openup">
  <div class="container">
    <img class="img-fluid mx-auto" src="/img/triangles.png" alt="triangles" width="224" height="128" />
    <h2 class="h1">{{ i18n "openup" }}</h2>
    <p>{{ i18n "opensource-phone" }}</p>
    <p>
    <a href="/get/" class="button">{{ i18n "install" }}</a>
    <a href="/findyourway/" class="button">{{ i18n "contribute" }}</a>
    </p>
    <p>{{ i18n "qt-kf" }}</p>
    <div class="laptop-with-overlay mx-auto" style="max-width: 900px">
      <img class="laptop img-fluid mb-3" src="/reusable-assets/laptop.svg" alt="">
      <div class="laptop-overlay">
          <img class="img-fluid mb-3" src="https://kde.org/announcements/plasma/5/5.21.0/plasma-dark.webp" alt="Plasma Desktop">
      </div>
      <img src="https://www.plasma-mobile.org/img/plasmaphone.svg" alt="Plasma Mobile" style="bottom: 0; right: 25%; width: 25%" class="position-absolute">
    </div>
  </div>
</section>

<section>
  <div class="container">
    <div class="wayland flex-column flex-md-row">
      <div class="textwidget order-md-1">
        <h2>{{ i18n "kwin" }}</h2>
        <p>{{ i18n "wayland" }}</p>
      </div>
      <img class="alignnone mr-4 order-md-0" src="/img/wayland.png" alt="wayland" width="600" height="500" />
    </div>
    <hr />
    <div class="opensource flex-column flex-md-row">
      <div>
        <h2>{{ i18n "opensource" }}</h2>
        <p>{{ i18n "parts" | markdownify }}</p>
        <ul>
          <li><a href="https://kde.org/products/frameworks/" target="_blank">KDE Frameworks</a></li>
          <li><a href="https://kde.org/products/kirigami/" target="_blank">Kirigami</a></li>
          <li><a href="https://01.org/ofono" target="_blank">Ofono</a></li>
          <li><a href="https://en.wikipedia.org/wiki/Telepathy_%28software%29" target="_blank">Telepathy</a></li>
          <li><a href="https://en.wikipedia.org/wiki/PulseAudio" target="_blank">Pulseaudio</a></li>
        </ul>
      </div>
      <img class="img-fluid adapting" src="/img/telephony.png" alt="telephony" width="840" height="1000" />
    </div>
    <div class="d-flex flex-md-row flex-column">
      <div class="order-md-1">
        <h2>{{ i18n "adapting" }}</h2>
        <p>{{ i18n "based" }}
      </div>
      <img class="img-fluid adapting mr-4 order-md-0" src="/img/schemes.png" alt="schemes" width="800" height="600" />
    </div>
  </div>
</section>
{{ end }}
